.footer {
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;

    background-color: #333;
    color: #dddddd;
    border: #dddddd solid 2px;

    text-align: center;
}


/* Style the links inside the navigation bar */
.footer a {
    float: left;
    display: block;
    color: #dddddd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.footer a:hover {
    color: white;
}

/* Add a color to the active/current link */
.footer a.active {
    color: white;
}

