textarea label,
input label,
select label {
    font-weight: bold;
}

textarea, input, select {
    font-weight: normal;
    font-size: medium;
}

textarea, input, select {
    /*margin-top: 2px;*/
    padding: 0px;
}

/* SIZE */
textarea, input, select {
    width: 200px;
}

input.submit {
    background-color: #fb7e14;
    color: white;
    font-size: large;
}

input[type=text] {
    text-align: right;
}

fieldset {
    color: #fb7e14;
    border: 1px solid #dddddd;
    background: #f2f2f2;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 3px;
    padding-bottom: 3px;

}

fieldset label {
    margin-right: 2px;
    font-weight: normal;
    font-size: medium;
    text-align: left;
    display: block;
    margin-bottom: 0;

}

fieldset.last {
    /*margin: 3px auto;*/
    /*background-color: #fb7e14;*/
    text-align: right;

}

button {
    /*margin-top: 3px;*/
    /*margin-left: 3px;*/
    /*height: 18px;*/
    /*width: 25px;*/
    /*padding: 0px 2px 2px 2px;*/
    cursor: pointer;
    font-weight: bolder;
    text-align: center;

}

button.add_button {
    background-color: green;
    color: white;
}

button.del_button {
    background-color: darkred;
    color: white;
}
