.grid .container {
    overflow: hidden;
}

.grid .filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.grid .show {
    display: block;
}

/* Style the buttons */
.grid .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

/* Add a light grey background on mouse-over */
.grid .btn:hover {
    background-color: #ddd;
}

/* Add a dark background to the active button */
.grid .btn.active {
    background-color: #666;
    color: white;
}
